<html>

<head>
  <title>Shop</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="/assets/favicon.ico">

  <script src="https://unpkg.com/vue@v3.2.29/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>
  <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

  <script src="/assets/js/axios.min.js"></script>
  <!--  Vuelidate -->

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
    integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


  <!--  components -->
  <script src="/assets/js/components/home.vue.js?ver=2"></script>
  <script src="/assets/js/components/login.vue.js?ver=2"></script>
  <script src="/assets/js/components/list.vue.js?ver=2"></script>
  <script src="/assets/js/components/listcatalog.vue.js?ver=2"></script>
  <script src="/assets/js/components/table.vue.js?ver=2"></script>
  <script src="/assets/js/components/catalog.vue.js?ver=2"></script>
  <script src="/assets/js/components/toast.vue.js?ver=2"></script>
  <script src="/assets/js/components/app.vue.js?ver=2"></script>
  <script src="/assets/js/components/order.vue.js?ver=2"></script>
  <script src="/assets/js/components/buy.vue.js?ver=4"></script>
  <script src="/assets/js/components/debug.vue.js"></script>

  <!--  other -->
  <link rel="stylesheet" href="/assets/css/app.css?ver=1">
  <link rel="stylesheet" href="/assets/css/main.css?ver=1">
  <link rel="stylesheet" href="/assets/css/bulma-list.css?ver=1">
  <link rel="stylesheet" href="/assets/css/bulma-badge.css?ver=1">

</head>

<body id="app">

  <script src="/assets/js/auth.js?ver=2"></script>
  <script src="/assets/js/router.js?ver=2"></script>

  <script src="/assets/js/app.js?ver=2"></script>

</body>

</html>